
.jumbotron{
    background-color: #16697a;
    color: black;
    margin-top: 50px;
}
/* .btn{
    background-color: cornflowerblue;
} */
footer{
    padding: 10px 10px 0 10px;
    background-color: #16697a;
    color: white;
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: bold;
}
a{
    color: black;
}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
.footer-address-icon{
    padding-right: 10px;
}