.jumbotron {
  background-color: red;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: red;
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold; }

a {
  color: black; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold; }

.footer-address-icon {
  padding-right: 10px; }
