$yellow: red;

@mixin margenes ($top,$botton) {
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

footer{
    padding: 10px 10px 0 10px;
    background-color:$yellow;
    color: white;
   @include margenes(10px,0 );
    font-weight: bold;
}
a{
    color: black;
}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}
.footer-address-icon{
    padding-right: 10px;
}